#blocCreerFournisseur{
  margin-top:4%;
}

#blocTextInformation {
  padding: 1% 2% 2% 0%;
}

#boutonCreer{
  margin-top: 15%;
  margin-left: 35%;
}

#rechercher{
  margin-left: 38.4%;
}

#numero{
  margin-left : 30.1%;
}

#nom{
  margin-left: 9.1%;
}

#prix{
  margin-left:38.5%;
}
#dateFinIntervention{
  margin-left:5.8%;
}
#zoneIntervention{
  margin-left:19.1%;
}


