#blocModifierClient div{
  width: 24.5%;
  display: inline-block;
}

#blocModifierClient{
  margin-left:4%;
    margin-right:0%;
}
 #blocModifierClient #blocPrix{
  width: 16%;
}

#blocModifierClient div #type,#blocModifierClient div #blocDureeIntervention {
  width: 30%;
}




