#rechercher{
  margin-left: 27.8%;
}

#blocCreerFournisseur{
  margin-top:4%;
}

#blocTextInformation{
  margin-left: 2%;
}


#Creer{
  padding: 4% 10%;
}

#numero{
  margin-left: 23.5%;
}

#nomClient{
  margin-left: 7.5%;
}

#hD{
  margin-left: 5.5%;
}

#date{
  margin-left: 23.6%;
}

